/**
 * =================================
 * All your permanent config
 * ===================================
 */
const config = {
    TOKEN: '',
    BOT_ADMIN: '',
    GREETINGS: ['Hello', 'hello', 'Hi', 'hi', 'Sasa', 'mambo']
}

export default Object.freeze(config)
